<app-calculation></app-calculation>
<div class="container text-center  mt-5">
  <div class="row">
    <div class="col">
      <table class="table table-dark table-bordered ">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Malzeme</th>
            <th scope="col">t</th>
            <th scope="col">w</th>
            <th scope="col">L</th>
            <th scope="col">Adet</th>
            <th scope="col">Sonuç (kg)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let metalItem of CalculateListMS ">
            <th><button type="button" class="btn btn-light" (click)="RemoveItemMetalSheetList(metalItem)">
                Sil</button></th>
            <th scope="row"> {{metalItem.material}}</th>
            <th scope="row"> {{metalItem.tValue}}</th>
            <th scope="row"> {{metalItem.wValue}}</th>
            <th scope="row"> {{metalItem.LongValue}}</th>
            <th scope="row"> {{metalItem.PieceeValue}}</th>
            <th scope="row"> {{metalItem.ResultValue}}</th>
          </tr>
        </tbody>
      </table>
      <div><button type="button" class="btn btn-dark" (click)="clearAllMetalSheetLS()">
          Hepsini Sil</button></div>
    </div>
    <div class="col bg-danger">
      <div class="row p-3">
        <img class="img-thumbnail w-25 mx-auto" src={{MetalSheetView}} alt="" width="auto" height="auto" />
      </div>
      <div class="row p-3 ">
        <mat-form-field appearance="fill">
          <mat-label>MALZEME</mat-label>
          <mat-select [(ngModel)]="Dropdwonid" (Change)="changeDropdownMS()">
            <mat-option *ngFor="let dropdownItem of DropdownSelected" [value]="dropdownItem.dropwdonId">
              {{dropdownItem.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row p-3">
        <div class="col-sm-4 text-end">t= </div>
        <div class="col-sm-8 text-start"><input id="ad" #InputT [(ngModel)]="t" type="number" placeholder="mm"> </div>
      </div>
      <div class="row p-3">
        <div class="col-sm-4 text-end">w= </div>
        <div class="col-sm-8 text-start"><input #InputW [(ngModel)]="w" type="number" placeholder="mm"> </div>
      </div>
      <div class="row p-3">
        <div class="col-sm-4 text-end">L= </div>
        <div class="col-sm-8 text-start"><input #InputLong [(ngModel)]="L" type="number" placeholder="mm"> </div>
      </div>
      <div class="row p-3">
        <div class="col-sm-4 text-end">Adet= </div>
        <div class="col-sm-8 text-start"><input #InputPiece [value]="piecee" [(ngModel)]="piecee" type="number"
            placeholder="sayı"> </div>
      </div>
      <div class="row p-3 text-center vstack">
        <div class="col "> <button type="button" [class.disabled]="((t && w && L && piecee && Dropdwonid )  == null)  "
            (click)="CalculateMS()" class="btn btn-outline-secondary">Hesapla</button> </div>
      </div>
    </div>
  </div>
</div>