<div class="container-fluid text-center   p-3 bg-warning">
    <div class="row">
        <div class="col"><a class="nav-link text-dark " routerLink="/Mile" ariaCurrentWhenactive="page">Mil Ağırlık
                Hesabı</a></div>
        <div class="col"><a class="nav-link text-dark " routerLink="/LAngel" ariaCurrentWhenactive="page">L Köşebent
                Ağırlık Hesabı</a> </div>
        <div class="col"><a class="nav-link text-dark " routerLink="/BProfile" ariaCurrentWhenactive="page">Profil
                Ağırlık Hesabı</a></div>
        <div class="col"><a class="nav-link text-dark " routerLink="/Msheet" ariaCurrentWhenactive="page">Sac Ağırlık
                Hesabı</a></div>
    </div>
</div>